@use '@/assets/scss/index' as *;

.main {
    display: grid;
    width: 100%;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        'logo main'
        'aside main'
        'footer main';
}

.aside-header {
    grid-area: logo;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    width: 100%;
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    color: $primary-green;
}

.logo {
    width: 217px;
}

.aside-menu {
    flex-direction: column;
    display: flex;
    gap: 30px;
    width: 100%;
}

.aside-profile {
    // background-color: red;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 20px;
    color: $titles-gray;
    margin-bottom: 30px;
}

.aside-profile img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: solid 5px white;
    box-shadow: 0 0px 0px 3px $primary-gold;
}

.aside-footer {
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px;
    width: 100%;
}

.menu-dashboard li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
    width: 100%;
}

.menu-dashboard li a {
    width: 100%;
    padding: 24px 0px;
}

.menu-dashboard li:hover {
    background-color: $primary-green;
    color: #f7f7f7;
}

.container-dashboard {
    grid-area: main;
    padding: 30px;
    height: 100vh;
    background-color: #f7f7f7;
}
