@use '@/assets/scss/index' as *;

.main {
    display: grid;
    width: 100%;
    // height: 100vh;
    // gap: 0 30px;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
        'aside main'
        'aside main';
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 30px;
    color: $primary-green;
    // background-color: #f7f7f7;
    // background-color: red;
}

.logo {
    width: 217px;
}

.aside-menu {
    // background-color: red;
    flex-direction: column;
    display: flex;
    gap: 30px;
    width: 100%;
}

.aside-header {
    padding-bottom: 30px;
}

.aside-footer {
    justify-self: flex-end;
}

.menu-dashboard li {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 15px;
    width: 100%;
}

.menu-dashboard li a {
    width: 100%;
    padding: 24px 0px;
    // background-color: red;
}

.menu-dashboard li:hover {
    background-color: $primary-green;
    color: #f7f7f7;
}

.container-dashboard {
    grid-area: main;
    padding: 30px;
    height: 100%;
    // width: 100%;
    background-color: #f7f7f7;
    // border-radius: 1.5rem;
}
