@use '@/assets/scss/index' as *;

.main {
    display: flex;
}
.left-menu {
    width: 300px;
    height: 100vh;
    padding: 10px 30px;
    position: fixed;
    color: white;
    background-color: $primary-green;
}

.left-menu li {
    padding: 15px 0;
}

.container {
    padding: 30px;
    height: 150vh;
    width: 100%;
    background-color: red;
}
